<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui"
>
<h:head>
    <title>Home Page</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="icon"
          type="image/png"
          href="/static/favicon.ico"/>
</h:head>
<body>
<h:form id="index">

    <div style="position: sticky; top:0;">
        <p:menubar>
            <p:menuitem icon="ui-icon-arrowthick-1-e" oncomplete="PF('sidebar').show()" value="Topics"/>
            <p:menuitem value="New Post" icon="ui-icon-plus" action="#{postManagedBean.newPost}"/>
            <p:menuitem value="My Posts" icon="ui-icon-contact" action="#{postManagedBean.myPosts}"/>
            <p:menuitem value="Most liked post" icon="ui-icon-star" oncomplete="PF('mostLikedDialog').show()"
                        action="#{homeManagedBean.mostLiked}" update="@form"/>
            <p:menuitem value="My Profile" icon="ui-icon-person" oncomplete="PF('myProfileDialog').show()"/>
            <f:facet name="options">
                <p:commandButton icon="ui-icon-search" update="@form"
                                 action="#{searchManagedBean.fuzzySearchByKeyword()}"
                                 oncomplete="PF('searchDialog').show()"/>
                <p:inputText style="margin-right:10px" placeholder="Fuzzy Search" id="fullText"
                             value="#{searchManagedBean.search.keyword}" />
                <p:tooltip for="fullText"
                           value="Search for certain keywords in the title, content and description of every post."
                           showEffect="scale" hideEffect="slide" position="bottom"/>
                Welcome, #{postManagedBean.user.name}
                <p:commandButton value="Logout" icon="ui-icon-power" action="#{loginBean.logout}">
                    <p:confirm header="Confirmation" message="Commence Log Out?"/>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                    </p:confirmDialog>
                </p:commandButton>
            </f:facet>
        </p:menubar>
    </div>
    <p:sidebar widgetVar="sidebar" baseZIndex="10000">
        <p:dataList value="#{postManagedBean.topics}" var="topic">
            <f:facet name="header">
                <h:outputText value="Topics"/>
            </f:facet>
            <p:commandLink oncomplete="PF('topicsDialog').show(); PF('sidebar').hide();" process="@this"
                           style="font-weight: bold;" partialSubmit="true" update="@form"
                           action="#{homeManagedBean.findPostsByTopics(topic)}">
                <h:outputText value="#{topic}"/>
            </p:commandLink>
        </p:dataList>
    </p:sidebar>

    <p:dataScroller value="#{homeManagedBean.postsList}" var="post" chunkSize="10">
        <f:facet name="header">
            <h:outputText value="Posts | "/>
            <h:outputText value="#{homeManagedBean.loadPostsTime} seconds load time."/>

        </f:facet>
        <p:panelGrid style="width:100%" styleClass="ui-noborder">

            <p:row>
                <p:column style="width: 20%">
                    <p:commandButton value="No Picture uploaded, Link to the article" icon="ui-icon-extlink"
                                     action="#{postManagedBean.openPost(post.id)}"
                                     rendered="#{!postManagedBean.hasImage(post.id)}"/>
                    <p:commandLink action="#{postManagedBean.openPost(post.id)}"
                                   process="@this" rendered="#{postManagedBean.hasImage(post.id)}">
                        <ui:fragment>
                            <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(post.id)}"
                                 alt="Image" style="width:10em; height:10em;"/>
                        </ui:fragment>
                    </p:commandLink>
                </p:column>


                <p:column style="width: 80%">
                    <p:commandLink value="#{post.title}" action="#{postManagedBean.openPost(post.id)}"
                                   style="font-weight: bold;" process="@this"/>
                    <br/>
                    <p:inputTextarea readonly="true" value="#{post.description}" style="width: 100%; border: 0;"/>
                </p:column>
            </p:row>

        </p:panelGrid>
        <p:separator/>
    </p:dataScroller>


    <p:dialog widgetVar="topicsDialog"
              header="Posts for selected Topic | #{homeManagedBean.findPostsByTopicsTime} seconds load time."
              showEffect="fold"
              id="topicsDialog"
              hideEffect="fold" positionType="fixed" position="top" width="80%" dynamic="true"
              resizable="false" fitViewport="true" responsive="true" modal="true" appendTo="@(body)">
        <p:dataScroller value="#{homeManagedBean.postsByTopic}" var="post" chunkSize="10" id="topicsScroller">
            <p:panelGrid style="width:100%" styleClass="ui-noborder">
                <p:row>
                    <p:column style="width: 20%">
                        <p:commandLink action="#{postManagedBean.openPost(post.id)}"
                                       process="@this" rendered="#{postManagedBean.hasImage(post.id)}">
                            <ui:fragment>
                                <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(post.id)}"
                                     alt="Image" style="width:5em; height:5em;"/>
                            </ui:fragment>
                        </p:commandLink>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{post.title}" action="#{postManagedBean.openPost(post.id)}"
                                       style="font-weight: bold;" process="@this"/>
                        <br/>
                        <p:inputTextarea readonly="true" value="#{post.description}"
                                         style="width: 100%; border: 0;"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator/>
        </p:dataScroller>
    </p:dialog>
    <p:dialog id="mostLikedDialog" widgetVar="mostLikedDialog"
              header="Most liked post. | #{homeManagedBean.mostLikedTime} seconds load time."
              showEffect="fold"
              hideEffect="fold" positionType="fixed" position="top" width="80%" dynamic="true"
              resizable="false" fitViewport="true" responsive="true" modal="true" appendTo="@(body)">
        <p:dataScroller value="#{homeManagedBean.mostLiked}" var="post" chunkSize="10" id="mostLikedScroller">
            <p:panelGrid style="width:100%" styleClass="ui-noborder">
                <p:row>
                    <p:column style="width: 20%">
                        <p:commandLink action="#{postManagedBean.openPost(post.id)}"
                                       process="@this" rendered="#{postManagedBean.hasImage(post.id)}">
                            <ui:fragment>
                                <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(post.id)}"
                                     alt="Image" style="width:5em; height:5em;"/>
                            </ui:fragment>
                        </p:commandLink>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{post.title}" action="#{postManagedBean.openPost(post.id)}"
                                       style="font-weight: bold;" process="@this"/>
                        <br/>
                        <p:inputTextarea readonly="true" value="#{post.description}"
                                         style="width: 100%; border: 0;"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="Upvotes: #{post.social.upvotes}"/>
                        <br/>
                        <h:outputText value="Downvotes: #{post.social.downvotes}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator/>
        </p:dataScroller>
    </p:dialog>
    <p:dialog id="searchDialog" widgetVar="searchDialog"
              header="Posts by keyword. | #{searchManagedBean.searchByKeywordTime} seconds load time."
              showEffect="fold"
              hideEffect="fold" positionType="fixed" position="top" width="80%" dynamic="true"
              resizable="false" fitViewport="true" responsive="true" modal="true" appendTo="@(body)">
        <p:dataScroller value="#{searchManagedBean.foundByKeyword}" var="post" chunkSize="10" id="searchScroller">
            <p:panelGrid style="width:100%" styleClass="ui-noborder">
                <p:row>
                    <p:column style="width: 20%">
                        <p:commandLink action="#{postManagedBean.openPost(post.id)}"
                                       process="@this" rendered="#{postManagedBean.hasImage(post.id)}">
                            <ui:fragment>
                                <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(post.id)}"
                                     alt="Image" style="width:5em; height:5em;"/>
                            </ui:fragment>
                        </p:commandLink>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{post.title}" action="#{postManagedBean.openPost(post.id)}"
                                       style="font-weight: bold;" process="@this"/>
                        <br/>
                        <p:inputTextarea readonly="true" value="#{post.description}"
                                         style="width: 100%; border: 0;"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator/>
        </p:dataScroller>
    </p:dialog>
    <p:dialog id="myProfileDialog" widgetVar="myProfileDialog" header="My Profile" showEffect="fold" hideEffect="fold"
              positionType="fixed"
              position="top" width="80%" dynamic="true" resizable="false" fitViewport="true" responsive="true"
              modal="true" appendTo="@(body)">
        <p:panelGrid columns="2" style="width:100%" styleClass="ui-noborder">
            <h:outputText value="Name"/>
            <h:outputText value="#{postManagedBean.user.name}"/>
            <h:outputText value="Username"/>
            <h:outputText value="#{postManagedBean.user.userName}"/>
            <h:outputText value="Email"/>
            <h:outputText value="#{postManagedBean.user.email}"/>
        </p:panelGrid>
    </p:dialog>
</h:form>
</body>
</html>