<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Login</title>

    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.onPageLoad}"/>
    </f:metadata>
</h:head>

<h:body>
    <div style="display:flex; justify-content: center;">
        <h:form prependId="false">

            <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
                <h2>Log In</h2>

                <p:outputLabel value="Incorrect Username or Password"
                               rendered="${!empty param['failed']}"/>

                <p:inputText id="username" placeholder="Username"/>
                <p:password id="password" placeholder="Password"/>

                <p:commandButton value="Log in" ajax="false"/>
            </p:panelGrid>

        </h:form>
    </div>
</h:body>
</html>
