<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Published Posts</title>

    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="icon"
          type="image/png"
          href="/static/favicon.ico"/>

</h:head>
<body>

<h:form>

    <div style="position: sticky; top:0;">
        <p:menubar>
            <p:menuitem value="Home" icon="ui-icon-home" action="#{homeManagedBean.homeNav}"/>
            <p:menuitem value="New Post" icon="ui-icon-plus" action="#{postManagedBean.newPost}"/>
            <p:menuitem value="Most liked post" icon="ui-icon-star" oncomplete="PF('mostLikedDialog').show()"
                        action="#{homeManagedBean.mostLiked}"/>
            <p:menuitem value="My Profile" icon="ui-icon-person" oncomplete="PF('myProfileDialog').show()"/>
            <f:facet name="options">
                <p:commandButton icon="ui-icon-search"
                                 action="#{searchManagedBean.searchByKeyword()}" update="searchDialog"
                                 oncomplete="PF('searchDialog').show()"/>
                <p:inputText style="margin-right:10px" placeholder="Full Text Search" id="fullText"
                             value="#{searchManagedBean.search.keyword}"/>
                <p:tooltip for="fullText"
                           value="Search for certain keywords in the content and description of every post."
                           showEffect="scale" hideEffect="slide" position="bottom"/>
                <p:commandButton value="Logout" icon="ui-icon-power" action="#{loginBean.logout}">
                    <p:confirm header="Confirmation" message="Commence Log Out?"/>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                    </p:confirmDialog>
                </p:commandButton>
            </f:facet>
        </p:menubar>
    </div>

    <p:dataTable value="#{myPostsManagedBean.postsList}" id="myPosts" paginator="true"
                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 rowsPerPageTemplate="5,10,15" rows="5" var="post" expandedRow="true">


        <p:column headerText="Title" sortBy="#{post.title}" filterBy="#{post.title}">
            <p:commandLink value="#{post.title}" action="#{postManagedBean.openPost(post.id)}"
                           style="font-weight: bold;" process="@this"/>
        </p:column>
        <p:column headerText="Created Date" sortBy="#{post.createdDate}">
            <h:outputText value="#{post.createdDate}">
                <f:convertDateTime pattern="yyyy-MM-dd HH:mm" timeZone="CET"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Modified Date" sortBy="#{post.lastModifiedDate}">
            <h:outputText value="#{post.lastModifiedDate}">
                <f:convertDateTime pattern="yyyy-MM-dd HH:mm" timeZone="CET"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Actions">
            <p:growl id="growl" life="2000"/>
            <p:commandButton value="Delete" icon="ui-icon-trash"
                             action="#{myPostsManagedBean.deletePost(post.id)}" update="@form growl"
                             process="@this">
                <p:confirm header="Confirmation" message="Delete this post?"/>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                </p:confirmDialog>
            </p:commandButton>
            <p:commandButton value="Update" icon="ui-icon-pencil"
                             action="#{postManagedBean.updatePost(post.id)}" process="@this"/>
        </p:column>
        <p:rowExpansion rendered="true">
            <h:outputText value="Description: #{post.description}" style="font-weight: bold"/>
        </p:rowExpansion>
    </p:dataTable>


    <p:dialog id="mostLikedDialog" widgetVar="mostLikedDialog"
              header="Most liked post. | #{homeManagedBean.mostLikedTime} seconds load time."
              showEffect="fold"
              hideEffect="fold" positionType="fixed" position="top" width="80%" dynamic="true"
              resizable="false" fitViewport="true" responsive="true" modal="true" appendTo="@(body)">
        <p:dataScroller value="#{homeManagedBean.mostLiked}" var="post" chunkSize="10" id="mostLikedScroller">

            <p:panelGrid style="width:100%" styleClass="ui-noborder">
                <p:row>
                    <p:column style="width: 20%">
                        <p:commandLink action="#{postManagedBean.openPost(post.id)}"
                                       process="@this" rendered="#{postManagedBean.hasImage(post.id)}">
                            <ui:fragment>
                                <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(post.id)}"
                                     alt="Image" style="width:5em; height:5em;"/>
                            </ui:fragment>
                        </p:commandLink>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{post.title}" action="#{postManagedBean.openPost(post.id)}"
                                       style="font-weight: bold;" process="@this"/>
                        <br/>
                        <p:inputTextarea readonly="true" value="#{post.description}"
                                         style="width: 100%; border: 0px;"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="Upvotes: #{post.social.upvotes}"/>
                        <br/>
                        <h:outputText value="Downvotes: #{post.social.downvotes}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator/>
        </p:dataScroller>
    </p:dialog>

    <p:dialog id="myProfileDialog" widgetVar="myProfileDialog" header="My Profile" showEffect="fold" hideEffect="fold"
              positionType="fixed"
              position="top" width="80%" dynamic="true" resizable="false" fitViewport="true" responsive="true"
              modal="true" appendTo="@(body)">
        <p:panelGrid columns="2" style="width:100%" styleClass="ui-noborder">
            <h:outputText value="Name"/>
            <h:outputText value="#{postManagedBean.user.name}"/>
            <h:outputText value="Username"/>
            <h:outputText value="#{postManagedBean.user.userName}"/>
            <h:outputText value="Email"/>
            <h:outputText value="#{postManagedBean.user.email}"/>
        </p:panelGrid>
    </p:dialog>


    <p:dialog id="searchDialog" widgetVar="searchDialog"
              header="Posts by keyword. | #{searchManagedBean.searchByKeywordTime} seconds load time." showEffect="fold"
              hideEffect="fold" positionType="fixed" position="top" width="80%" dynamic="true"
              resizable="false" fitViewport="true" responsive="true" modal="true" appendTo="@(body)">
        <p:dataScroller value="#{searchManagedBean.foundByKeyword}" var="post" chunkSize="10" id="searchScroller">
            <p:panelGrid style="width:100%" styleClass="ui-noborder">
                <p:row>
                    <p:column style="width: 20%">
                        <p:commandLink action="#{postManagedBean.openPost(post.id)}"
                                       process="@this" rendered="#{postManagedBean.hasImage(post.id)}">
                            <ui:fragment>
                                <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(post.id)}"
                                     alt="Image" style="width:5em; height:5em;"/>
                            </ui:fragment>
                        </p:commandLink>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{post.title}" action="#{postManagedBean.openPost(post.id)}"
                                       style="font-weight: bold;" process="@this"/>
                        <br/>
                        <p:inputTextarea readonly="true" value="#{post.description}"
                                         style="width: 100%; border: 0px;"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator/>
        </p:dataScroller>
    </p:dialog>
</h:form>
</body>
</html>